<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <client>
            <endpoint address="http://localhost/CalculatorService/CalculatorService.svc"
                      binding="wsHttpBinding" 
                      contract="WcfSample.Hosting.CalculatorService.Common.ICalculatorService"
                      name="WSHttpBinding_CalculatorService_IIS">
            </endpoint>
            <endpoint address="http://localhost:8088/CalculatorService" 
                      binding="wsHttpBinding" 
                      contract="WcfSample.Hosting.CalculatorService.Common.ICalculatorService"
                      name="WSHttpBinding_CalculatorService_SelfHosted">
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>